.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 25px 15px;

  &__title {
    align-self: flex-start;
    margin: .1em 0
  }

  &__btn {
    align-self: flex-end;
  }

  &__count {
    align-self: flex-start;
  }

  &__control {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  @media (width <=480px) {
    padding: 25px 10px;
  }
}
